/* .frame {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/public/frame.jpg);
  background-size: contain;
  width: 300px;
  height: 300px;
}

.img {
  width: 200px;
  height: 200px;
} */
img {
  width: 100px;
  height: 100px;
}
