@keyframes show {
  from {
    width: 0;
    left: 50%;
  }
  to {
    left: 0;
    width: 100%;
  }
}

@keyframes boom {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -840px;
  }
}

.boom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background-image: url(../../assets/cool.png);
  background-size: cover;
  animation: boom 2s steps(14) normal;
}

.openBtn {
  display: flex;
  color: #ffffff;
  background-color: #ff4081;
  border-color: #ec407a;
  border: 1px solid;
  padding: 10px 15px;
  border-radius: 0.5rem;
  outline: none;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4),
    0 -0.3rem 0.6rem rgba(0, 0, 0, 0.2) inset;
  transition: box-shadow 64ms ease-out;
  position: relative;
  margin: 0 auto;
}

.openBtn::after {
  content: '';
  background-color: #ffffff;
  width: 75%;
  height: 12.5%;
  position: absolute;
  top: 0.15rem;
  left: 12.5%;
  border-radius: 50%;
  filter: blur(0.15rem);
  transition: opacity 64ms ease-out;
}

.openBtn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0.4rem 1rem rgba(0, 0, 0, 0.3) inset;
}

.openBtn:active::after {
  opacity: 0;
}

.isClick {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: grid;
  align-items: center;
  justify-items: center;

  width: 100%;
  min-height: 60px;

  background-image: linear-gradient(to top, yellow 30%, navy 70%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  left: 0;
  top: 0;
  animation: show 1s ease-in-out;
}

.headerForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.back {
  font-family: 'Kavoon', cursive;
  font-size: 14px;
  font-weight: 400;

  display: flex;
  color: #ffffff;
  background-color: #ff4081;
  border-color: #ec407a;
  border: 1px solid;
  padding: 10px 15px;
  border-radius: 0.5rem;
  outline: none;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4),
    0 -0.3rem 0.6rem rgba(0, 0, 0, 0.2) inset;
  transition: box-shadow 64ms ease-out;
  position: relative;
  margin: 0 auto;
}

.back::after {
  content: '';
  background-color: #ffffff;
  width: 75%;
  height: 12.5%;
  position: absolute;
  top: 0.15rem;
  left: 12.5%;
  border-radius: 50%;
  filter: blur(0.15rem);
  transition: opacity 64ms ease-out;
}

.back:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0.4rem 1rem rgba(0, 0, 0, 0.3) inset;
}

.back:active::after {
  opacity: 0;
}

.headerInput {
  width: 300px;
  min-height: 30px;
  padding-left: 25px;

  border: none;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.headerBtn {
  position: relative;
  left: 5px;
  top: -40px;

  display: flex;
  padding: 5px 0;
  border-radius: 20px 0 0 20px;
  background-color: transparent;
}

.headerIcon {
  width: 20px;
  height: 20px;

  transition: fill 0.3s ease-in-out;
}

.headerForm .headerInput:hover + .headerBtn .headerIcon,
.headerForm .headerInput:focus + .headerBtn .headerIcon {
  fill: lightgreen;
}
