html,
body,
*,
#root {
  font-family: 'Courier New', Courier, monospace;
  color: #000000;

  cursor: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul,
ol {
  list-style-type: none;
}

input {
  outline: none;

  cursor: url('/search.png') 10 10, pointer;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
}
